<h1>Weather App</h1>
<h2>{{pageTitle}}</h2>
<nav>
    <a href="/" class="{{#if (eq path "/")}}selected{{/if}}">Index</a>
    <a href="/about" class="{{#if (eq path "/about")}}selected{{/if}}">About</a>
    <a href="/help" class="{{#if (eq path "/help")}}selected{{/if}}">Help</a>
</nav>
