{{#> template }}
    <p>Get the weather for your address.</p>
    <form id="weatherSearchForm">
        <input name="address" > <button>Search</button>
    </form>
    <div class="loading hide">Loading&hellip;</div>
    <div class="error hide"></div>
    <div class="data hide"></div>
{{/template}}