a {
    color: lightblue;
}
a.selected {
    text-decoration: none;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: darkslategray;
    color: lightgray;
}
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    min-width: 18rem;
    max-width: 48rem;
    width: auto;
    margin: 0 auto;
    padding: 1rem;
}

header, main, footer {
    width: 100%;
}

h1 {
    font-size: xx-large;
    opacity: 0.5;}
h2 {
    font-size: x-large;

}

header nav {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

main {
    flex: 1;
}

footer {
    opacity: 0.65;
    padding-bottom: 1rem;
}

.hide {
    display: none;
}

.loading, .error, .data {
    margin: 1rem 0;
    padding: 1rem;
    background: #2e343b;
    overflow: auto;
}
.loading {
    color: goldenrod;
}
.error {
    color: #d97373;
    white-space: pre-wrap;
}
.data {
    color: #6bf3d6;
}

input, button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid lightgray 2px;
    background: transparent;
    color: inherit;
}
input:focus, button:focus,
input:hover, button:hover {
    background: #464646;
}
button {
    cursor: pointer;
}